// RESET.SCSS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: map-get($font, manrope), sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($font, josefin), sans-serif;
  font-weight: map-get($font-weights, small);
  line-height: 1;
}
